In [53]:
import os
import json
from pprint import pprint
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense
from keras.layers.recurrent import LSTM, SimpleRNN
from keras.optimizers import RMSprop

In [54]:
curr_dir = os.path.dirname('__file__')
folder = os.path.join(curr_dir, "season_data")

In [75]:
years = range(2000, 2016)
features = {'row': [], 'year': [], 'week': []}
for year in years:
    fn = 'output_%i.json' % year
    with open(os.path.join(folder, fn)) as f:
        data = json.load(f)
    for game in data:
        team = 'home'
        for team in ['home', 'away']:
            opponent = {'home': 'away', 'away': 'home'}[team]
            naming = {team: 'my_', opponent: 'opp_'}
            features['row'].append(game['row'])
            features['year'].append(year)
            features['week'].append(game['week'])
            for _team in ['home', 'away']:
                for stat in game[_team]:
                    stat_name = naming[_team] + stat
                    if stat_name not in features:
                        features[stat_name] = []
                    features[stat_name].append(game[_team][stat])

In [76]:
df = pd.DataFrame(features).sort_values(['year', 'row']).reset_index(drop=True)
df['margin_victory'] = df.my_pts - df.opp_pts
df['win'] = df.margin_victory >= 0

In [77]:
def get_epochs(df, n_prev, target, features=None):
    """
    Used to shuffle the dataset at each iteration.
    """
    
    if features is None:
        features = df.drop(target).columns.tolist()
    
    docX, docY = [], []
    indices = []
    for i in range(len(df)-n_prev):
        docX.append(df[features].iloc[i:i+n_prev].as_matrix())
        docY.append(df[target].iloc[i+n_prev])
        indices.append(df.index[i+n_prev])
    alsX = np.array(docX)
    alsY = np.array(docY)
#     if (ravel):
#         alsY = alsY.ravel()

    return alsX, alsY, indices

def reorder_array(arr, indices):
    zipped = zip(arr, indices)
    zipped_sort = sorted(zipped, key=lambda x: x[1])
    return np.array([elem[0] for elem in zipped_sort])

def nfl_epochs(df, target, features=None):
    team_dfs = [group for name, group in df.groupby('my_name')]
    if features is None:
        features = df.drop(target).columns.tolist()
    X = None
    y = None
    for team_df in team_dfs:
        x1, y1, indices = get_epochs(team_df, 32, target, features=features)
        if X is None or y is None:
            X = x1
            y = y1
        else:
            X = np.append(X, x1, axis=0)
            y = np.append(y, y1, axis=0)
        reindexer += indices
    X = reorder_array(X, reindexer)
    y = reorder_array(y, reindexer)
    return X, y

def preprocess_array(arr):
    pass
    

def train_test_split(X, y, test_size=0.1, recenter=False):  
    """
    This just splits data to training and testing parts
    """
    ntrn = int(round(len(X) * (1 - test_size)))
    X_train = X[0:ntrn]
    y_train = y[0:ntrn]    
    X_test = X[ntrn:]
    y_test = y[ntrn:]
    
    if (recenter):
        X_train -= X_train.mean(axis=(0,1))
        X_test = X_train.mean(axis=(0,1))
        y_train -= y_train.mean()
        y_test -= y_train.mean()
        
    return (X_train, y_train), (X_test, y_test)

In [58]:
def reorder_array(arr, indices):
    zipped = zip(arr, indices)
    zipped_sort = sorted(zipped, key=lambda x: x[1])
    return np.array([elem[0] for elem in zipped_sort])

In [78]:
team_dfs = [group for name, group in df.groupby('my_name')]
features = ['margin_victory']
# features = df.drop(['my_name', 'opp_name', 'row', 'week', 'year'], axis=1).columns.tolist()
target = 'win'
reindexer = []
X = None
y = None
for team_df in team_dfs:
    x1, y1, indices = get_epochs(team_df, 16, target, features=features)
    if X is None or y is None:
        X = x1
        y = y1
    else:
        X = np.append(X, x1, axis=0)
        y = np.append(y, y1, axis=0)
    reindexer += indices
X = reorder_array(X, reindexer)
y = reorder_array(y, reindexer)

In [79]:
(X_train, y_train), (X_test, y_test) = train_test_split(X, y, test_size=0.3)  # retrieve data

In [70]:
print X.shape

(8000, 16, 45)

In [85]:
hidden_neurons = 10
model = Sequential()
model.add(SimpleRNN(hidden_neurons, input_dim=X_train.shape[-1], activation='tanh'))
model.add(Dense(1, activation='tanh'))
model.compile(loss="mean_squared_error", optimizer=RMSprop())
model.fit(X_train, y_train, nb_epoch=10)

Epoch 1/10
5600/5600 [==============================] - 0s - loss: 0.5055
Epoch 2/10
5600/5600 [==============================] - 0s - loss: 0.2661
Epoch 3/10
5600/5600 [==============================] - 0s - loss: 0.2473
Epoch 4/10
5600/5600 [==============================] - 0s - loss: 0.2459
Epoch 5/10
5600/5600 [==============================] - 0s - loss: 0.2450
Epoch 6/10
5600/5600 [==============================] - 0s - loss: 0.2447
Epoch 7/10
5600/5600 [==============================] - 0s - loss: 0.2442
Epoch 8/10
5600/5600 [==============================] - 0s - loss: 0.2439
Epoch 9/10
5600/5600 [==============================] - 0s - loss: 0.2441
Epoch 10/10
5600/5600 [==============================] - 0s - loss: 0.2437

In [81]:
predicted = model.predict(X_test)

In [82]:
print predicted[40:50]

[[ 0.64862698]
 [ 0.59819096]
 [ 0.67499602]
 [ 0.41066673]
 [ 0.57848823]
 [ 0.45954126]
 [ 0.36903736]
 [ 0.44755375]
 [ 0.55796444]
 [ 0.47706291]]

In [89]:
predicted = model.predict(X_test)
print "Error on train set: %.2f" % ((model.predict(X_train) > 0.5 == y_train).mean())
print "Error on test set: %.2f" % ((model.predict(X_test) > 0.5 == y_test).mean())
print "Previous day error: %.2f" % ((.5 - y_test) ** 2).mean()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [12]:
df

,my_first_downs,my_fourth_down_att,my_fourth_down_conv,my_fum,my_fum_lost,my_name,my_pass_att,my_pass_comp,my_pass_int,my_pass_td,...,opp_sacked,opp_sacked_yds,opp_third_down_att,opp_third_down_conv,opp_time_of_pos,opp_turnovers,row,week,year,margin_victory
0,23,1,0,0,0,WAS,36,25,0,0,...,6,59,11,2,1606,1,0,1,2000,3
1,12,1,1,1,1,CAR,26,17,0,1,...,0,0,12,5,1994,0,0,1,2000,-3
2,14,2,1,2,1,NWE,39,26,0,1,...,1,11,16,6,1895,1,1,1,2000,-5
3,17,0,0,2,1,TAM,24,12,0,1,...,6,26,17,4,1705,1,1,1,2000,5
4,22,0,0,2,1,ATL,31,16,0,2,...,1,6,9,2,1701,1,2,1,2000,8
5,23,1,0,3,0,SFO,36,23,1,3,...,0,0,11,4,1899,1,2,1,2000,-8
6,16,0,0,1,1,MIA,24,15,0,1,...,4,12,11,1,1300,6,3,1,2000,23
7,8,1,0,3,2,SEA,24,10,4,0,...,2,7,13,3,2300,1,3,1,2000,-23
8,13,0,0,2,0,OAK,35,20,0,1,...,2,18,18,8,1710,4,4,1,2000,3
9,17,1,0,2,1,SDG,42,19,3,0,...,4,10,16,3,1890,0,4,1,2000,-3
10,12,2,0,3,1,PIT,39,17,0,0,...,1,3,16,5,2107,0,5,1,2000,-16
11,18,1,1,0,0,BAL,32,18,0,1,...,1,6,14,4,1493,1,5,1,2000,16
12,17,0,0,0,0,BUF,26,13,0,1,...,4,33,14,2,1609,1,6,1,2000,3
13,9,1,0,1,0,TEN,31,17,1,0,...,5,37,16,3,1991,0,6,1,2000,-3
14,13,0,0,3,1,GNB,34,14,1,1,...,0,0,20,12,2270,1,7,1,2000,-4
15,24,0,0,0,0,NYJ,44,23,1,1,...,1,3,11,4,1330,2,7,1,2000,4
16,9,2,1,1,1,CLE,27,19,0,1,...,4,22,16,10,2223,0,8,1,2000,-20
17,28,0,0,1,0,JAX,34,24,0,1,...,1,7,10,3,1377,1,8,1,2000,20
18,17,0,0,2,0,MIN,23,13,1,0,...,2,18,15,9,1954,1,9,1,2000,3
19,23,0,0,2,1,CHI,41,27,0,2,...,1,2,13,6,1646,1,9,1,2000,-3
20,17,1,0,0,0,KAN,37,16,1,2,...,1,6,13,6,1993,2,10,1,2000,-13
21,20,0,0,1,1,IND,32,22,1,1,...,1,6,15,5,1607,1,10,1,2000,13
22,20,0,0,3,1,NYG,25,17,1,0,...,1,6,15,6,1710,4,11,1,2000,5
23,19,2,0,2,1,ARI,49,28,3,2,...,0,0,14,7,1890,2,11,1,2000,-5
24,10,0,0,0,0,DAL,31,13,2,1,...,1,11,12,7,2370,3,12,1,2000,-27
25,27,0,0,0,0,PHI,29,16,3,1,...,5,35,13,4,1230,2,12,1,2000,27
26,13,1,0,5,2,NOR,34,18,1,0,...,2,11,16,4,1849,2,13,1,2000,-4
27,10,1,0,2,1,DET,25,13,1,0,...,5,23,17,6,1751,3,13,1,2000,4
28,23,0,0,0,0,STL,35,25,3,3,...,4,33,11,5,1933,0,14,1,2000,5
29,25,1,0,1,0,DEN,29,19,0,2,...,2,8,7,6,1667,3,14,1,2000,-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8482,20,0,0,0,0,IND,38,21,1,2,...,4,43,14,4,1603,1,268,17,2015,6
8483,14,2,1,1,0,TEN,27,15,1,1,...,1,7,17,7,1997,1,268,17,2015,-6
8484,17,1,1,1,0,CIN,27,17,0,2,...,1,10,20,12,1756,2,269,17,2015,8
8485,22,2,0,0,0,BAL,56,30,2,1,...,3,13,9,0,1844,0,269,17,2015,-8
8486,23,2,1,0,0,KAN,25,15,2,2,...,6,37,14,3,1505,1,270,17,2015,6
8487,14,1,1,2,0,OAK,33,21,1,1,...,1,9,13,6,2095,2,270,17,2015,-6
8488,16,1,0,0,0,ARI,43,20,3,1,...,1,16,15,8,2197,0,271,17,2015,-30
8489,22,1,1,0,0,SEA,32,22,0,3,...,2,8,12,5,1403,3,271,17,2015,30
8490,19,1,1,5,3,CIN,41,23,1,1,...,4,38,13,2,1837,2,273,WildCard,2015,-2
8491,21,1,1,2,1,PIT,36,20,1,1,...,3,24,15,5,1763,4,273,WildCard,2015,2
8492,14,1,0,2,1,HOU,34,15,4,0,...,3,17,11,4,2065,1,274,WildCard,2015,-30
8493,18,0,0,0,0,KAN,22,17,1,1,...,3,24,14,6,1535,5,274,WildCard,2015,30
8494,14,1,1,1,1,MIN,24,17,0,0,...,2,13,14,5,1654,1,275,WildCard,2015,-1
8495,13,3,0,2,0,SEA,26,13,1,1,...,3,21,13,3,1946,1,275,WildCard,2015,1
8496,20,4,1,3,1,WAS,46,29,0,1,...,1,5,11,3,1773,1,276,WildCard,2015,-17
8497,24,1,1,1,1,GNB,36,21,0,2,...,6,59,15,5,1827,1,276,WildCard,2015,17
8498,20,1,1,1,0,ARI,41,25,2,3,...,1,10,15,7,1814,1,277,Division,2015,6
8499,18,2,1,0,0,GNB,44,24,1,2,...,3,21,13,5,1851,2,277,Division,2015,-6
8500,21,0,0,0,0,NWE,42,28,0,2,...,1,3,20,12,2271,1,278,Division,2015,7
8501,27,2,1,1,1,KAN,50,29,0,1,...,0,0,12,6,1329,0,278,Division,2015,-7
8502,19,1,0,1,0,DEN,37,21,0,0,...,3,28,12,2,1707,1,279,Division,2015,7
8503,16,2,0,2,1,PIT,37,24,0,0,...,1,7,15,3,1893,0,279,Division,2015,-7
8504,19,0,0,2,0,CAR,22,16,0,1,...,5,41,11,5,1462,2,280,Division,2015,7
8505,23,2,1,0,0,SEA,48,31,2,3,...,1,10,15,8,2138,0,280,Division,2015,-7
8506,21,1,0,0,0,CAR,28,19,1,2,...,3,8,10,3,1401,7,281,ConfChamp,2015,34
8507,21,2,2,3,3,ARI,41,23,4,1,...,1,11,14,8,2199,1,281,ConfChamp,2015,-34
8508,12,0,0,1,1,DEN,32,17,0,2,...,4,18,15,2,1812,2,282,ConfChamp,2015,2
8509,20,4,2,1,0,NWE,56,27,2,1,...,3,31,17,6,1788,1,282,ConfChamp,2015,-2
8510,11,0,0,3,1,DEN,23,13,1,0,...,7,68,15,3,1967,4,283,SuperBowl,2015,14
8511,21,0,0,4,3,CAR,41,18,1,0,...,5,37,14,1,1633,2,283,SuperBowl,2015,-14